*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before {
    box-sizing: border-box;
}
*:after {
    box-sizing: border-box;
}
ul li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
.header {
    margin: 50px 20px;
}
.search {
    display: flex;
    height: 30px;
    justify-content: space-between;
}
@media (min-width:500px) {
    .search {
        max-width: 400px;
        margin-left:auto;
        margin-right:auto;
    }
}

.search input {
    width: 100%;
    margin-right: 20px;
    border: 2px solid rgb(14, 173, 236);
    text-indent: 1em;
    outline: none;
}
.search button {
    white-space: nowrap;
    border: 0;
    color: aliceblue;
    background-color: rgb(14, 173, 236);  
    padding: 0 28px;
    cursor: pointer;
}
.main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .mainList {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  @media (min-width: 500px){
    .mainList{
      margin-left: auto;
      margin-right: -25px;
      justify-content: flex-start;
    }
  }
  .mainList > li {
    margin-bottom: 10px;
  }
  @media(min-width: 500px){
    .mainList > li {
      margin-right: 25px;
    }
  }
  .mainList .site {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border: 1px solid rgb(14, 173, 236);
    border-radius: 4px;
    padding: 20px 0;
    position: relative;
    cursor: pointer;
  }
  .mainList .site > .logo {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    text-transform: uppercase;
  }
  .mainList .site > .link {
    font-size: 14px;
    margin-top: 4px;
  }
  .mainList .site > .close {
    position: absolute;
    right: 10px;
    top: 5px;
    display: none;
  }
  .mainList .site:hover > .close {
    display: block;
  }
  .mainList .add {
    background: white;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    border: 1px solid rgb(14, 173, 236);
    cursor: pointer;
  }
  .mainList .add .icon {
    width: 56px;
    height: 56px;
  }
  .mainList .add .text {
    font-size: 14px;
    margin-top: 4px;
  }
  .mainList .add .icon-wrapper {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }